.welcome-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .dify-header {
    cursor: pointer;
    color: aliceblue;
  }
}

.center-page {
  display: flex;
  justify-content: center;
  height: 100%;
}
