<p>Welcome!</p>
<div class="center-page">
  <tui-tabs>
    <button tuiTab routerLink="sign-in" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <tui-svg src="tuiIconChevronRight" class="tui-space_right-2"></tui-svg>
      Sign in
    </button>
    <button tuiTab routerLink="sign-up" [routerLinkActive]="['active']">
      <tui-svg src="tuiIconChevronRight" class="tui-space_right-2"></tui-svg>
      Sign up
    </button>
  </tui-tabs>
</div>
<div class="center-page">
  <router-outlet></router-outlet>
</div>





