<div class="flex flex-row m-3">
  <div class="basis-3/4">
    <router-outlet></router-outlet>
  </div>
  <div class="basis-1/4 ml-3 h-max sticky top-3">
    <div class="card">
      <app-friends-sections-filtration
        (sectionFiltration)="currentSection = $event; categoryFilter = null"
        (categoryFilter)="categoryFilter = $event">
      </app-friends-sections-filtration>
    </div>
    <div
      *ngIf="currentSection != friendsSections.findFriends"
      class="card mt-3">
      <app-may-known-people></app-may-known-people>
    </div>
  </div>
</div>
