<p-toast 
	position="top-right" 
	key="incomingCall"
	[baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
		<div class="flex flex-col w-full">
			<div class="mb-3">
				<span>{{ message.summary }}</span>
			</div>
			<div class="flex items-center gap-2">
				<p-avatar 
					[image]="incomingCall.caller.avatarUrl" 
					shape="circle"
					size="large"/>
				<span>{{ incomingCall.caller.name }}</span>
			</div>
			<div class="flex items-center mt-3">
				<p-button size="small" (onClick)="joinCall()">
					<div class="flex flex-row items-center">
						<i class="pi pi-phone mr-2"></i>
						<span>Join</span>
					</div>
				</p-button>
				<p-button 
					[outlined]="true"
					size="small"
					label="Decline"
					class="ml-3"
					(onClick)="declineCall()">
				</p-button>
			</div>
		</div>
  </ng-template>
</p-toast>
