.card {
  background: var(--surface-card);
  border: var(--df-border);
  padding: theme('spacing.3');
  box-shadow: var(--card-shadow);
  border-radius: theme('borderRadius.xl');
}

.df-input-component {
  color: var(--text-color);
  background: var(--surface-section);
  padding: theme('spacing[2.5]');
  border: var(--df-border);
  transition: var(--df-transition);
  appearance: none;
  border-radius: var(--border-radius);
  &[enabled="true"]:hover {
    border-color: var(--primary-color);
  }
  &:focus-within {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: theme('boxShadow.df-input-shadow');
    border-color: var(--primary-color);
  }
}

.flat-button {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.5rem;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  transition: background-color .2s;
  cursor: pointer;
  font-family: inherit;
  background-color: var(--surface-ground);
  font-size: inherit;
  &.active {
    border-color: var(--primary-color);
    color: var(--primary-color);
  }
  &:hover {
    background-color: var(--surface-hover);
  }
}

.without-shadow {
  &:focus {
    box-shadow: none !important;
  }
}

.p-button-icon-left {
  margin-right: 0.375rem;
}
