$df-base-01: #471766;
$df-base-02: #772caf;
$df-base-03: #631a96;
$df-base-04: #2f094d;
$df-base-05: #d9ed92;

$df-text-white-01: lightgoldenrodyellow;
$df-text-white-02: wheat;

$df-text-grey-01: rgb(128, 112, 143);
$df-text-grey-02: #78648c;

$df-border-color-01: rgb(219, 214, 225);

$df-border-01: 1px solid rgb(219, 214, 225);
