@import '@taiga-ui/core/styles/taiga-ui-local.scss';

* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
}

[tuiWrapper][data-appearance='textfield']._invalid._invalid {
  --tui-focus: rgb(251 113 133);
}

.chevron {
  @include transition(transform);
  &-up {
    transform: rotate(180deg);
  }
}

.avatar-online-bottom-left.avatar.online:before, .avatar-online-bottom-left.avatar.offline:before {
  width: 10%;
  height: 10%;
  top: auto;
  bottom: 6%;
  right: 13%;
}

.df-online::before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: rgb(74 222 128);
  width: 30%;
  height: 30%;
  top: auto;
  bottom: 0%;
  right: 0%;
}
