<form [formGroup]="loginForm" (ngSubmit)="submit()" class="login-form">
  <mat-form-field appearance="fill" class="login-form-username">
    <mat-label>Enter login</mat-label>
    <input matInput formControlName="username" required>
    <mat-error *ngIf="username.invalid && (username.dirty || username.touched) && username.errors?.['required']">
      {{"Login is required"}}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter password</mat-label>
    <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
    <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors?.['required']">
      {{ "Password is required"}}
    </mat-error>
    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <button type="submit" mat-flat-button color="primary">Login</button>
</form>
