<div class="tui-container tui-space_top-5">
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="tui-row tui-row_sme">
      <div class="tui-col_5">
        <div class="tui-form__row">
          <tui-input
            formControlName="username">
            Username
            <span class="tui-required"></span>
          </tui-input>
          <tui-error formControlName="username"  [error]="[] | tuiFieldError | async"></tui-error>
        </div>
        <div class="tui-form__row">
          <tui-input-password
            formControlName="password">
            Password
            <input tuiTextfield/>
            <span class="tui-required"></span>
          </tui-input-password>
          <tui-error formControlName="password"  [error]="[] | tuiFieldError | async"></tui-error>
        </div>
        <div class="tui-form__row">
          <button
            tuiButton
            type="submit"
            class="tui-form__button">
            Login
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
