<div class="flex flex-row justify-between px-2 py-3">
  <div class="flex flex-row">
    <app-friend-tile-avatar 
      [name]="friendTile.name"
      [avatarUrl]="friendTile.avatarUrl"
      [online]="friendTile.online"
      class="mr-3">
    </app-friend-tile-avatar>
    <div class="flex flex-col justify-between">
      <div class="flex flex-col justify-center">
        <p-button 
          [routerLink]="'/home/profile/' + friendTile.id"
          [label]="friendTile.name" 
          [link]="true"
          styleClass="px-0 py-0 without-shadow">
        </p-button>
        <span>{{ friendTile.workplace }}</span>
        <div class="flex flex-row mt-1">
          <p-tag 
            *ngFor="let tag of friendTile.tags"
            [value]="tag.name"
            [styleClass]="'text-sm p-1 ' + tag.color"
            class="mr-1">
          </p-tag>
        </div>
      </div>
      <div class="flex flex-row">
        <p-button 
          label="Write message"
          styleClass="px-2 py-1"
          class="mr-2">
        </p-button>
        <p-button 
          label="Call"
          [outlined]="true"
          iconPos="left"
          icon="pi pi-phone"
          styleClass="px-2 py-1">
        </p-button>
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <p-button 
      label="Unfriend"
      styleClass="px-2 py-1"
      severity="secondary"
      class="mb-2">
    </p-button>
    <p-button 
      label="Edit tags"
      [outlined]="true"
      styleClass="px-2 py-1">
    </p-button>
  </div>
</div>
