<ng-container *ngIf="loadingError$ | async as error">
  <p>{{ error }}</p>
</ng-container>
<ng-container *ngIf="isLoading$ | async">
  <p>Loading...</p>
</ng-container>
<ng-container *ngIf="user$ | async as user">
  <div class="m-3">
    <div class="flex flex-row h-max border border-solid border-gray-300 rounded-lg">
      <div class="basis-1/5 flex flex-col justify-center items-center border-r border-solid border-gray-300 p-4">
        <div class="avatar" [ngClass]="user.online ? 'online': 'offline'">
          <div class="w-60 rounded-full">
            <img [src]="user.avatarUrl" alt="profile-avatar"/>
          </div>
        </div>
        <button
          *ngIf="!user.isCurrentUser"
          tuiButton
          type="button"
          appearance="primary"
          size="m"
          class="w-full mt-2">
          Message
        </button>
        <button
          *ngIf="user.isCurrentUser"
          tuiButton
          type="button"
          appearance="secondary"
          size="m"
          class="w-full mt-2">
          Edit profile
        </button>
      </div>
      <div class="basis-4/5 p-4">
        <div>
          Description
          <p>{{user.name}}</p>
        </div>
      </div>
    </div>
    <div class="flex flex-row relative mt-3">
      <div class="basis-4/5">
        <div class="border border-solid border-gray-300 rounded-lg p-3">
          Media content
        </div>
        <div class="border border-solid border-gray-300 rounded-lg p-3 mt-3">
          What's new
        </div>
        <div class="border border-solid border-gray-300 rounded-t-lg p-3 mt-3">
          Posts filtration
        </div>
        <div class="border-x border-b border-solid border-gray-300 rounded-b-lg p-3">
          First post
          <p>Lorem ipsum dolor sit amet, consectetur</p>
          <p>adipisicing elit. Facere ipsum inventore </p>
          <p>enim placeat rem corrupti voluptate iste neque repellendus a.</p>
          <p>Lorem ipsum dolor sit amet, consectetur</p>
          <p>adipisicing elit. Facere ipsum inventore </p>
          <p>enim placeat rem corrupti voluptate iste neque repellendus a.</p>
          <p>Lorem ipsum dolor sit amet, consectetur</p>
          <p>adipisicing elit. Facere ipsum inventore </p>
          <p>enim placeat rem corrupti voluptate iste neque repellendus a.</p>
        </div>
        <div class="border border-solid border-gray-300 rounded-lg p-3 mt-3">
          Second post
          <p>Lorem ipsum dolor sit amet, consectetur</p>
          <p>adipisicing elit. Facere ipsum inventore </p>
          <p>enim placeat rem corrupti voluptate iste neque repellendus a.</p>
          <p>Lorem ipsum dolor sit amet, consectetur</p>
          <p>adipisicing elit. Facere ipsum inventore </p>
          <p>enim placeat rem corrupti voluptate iste neque repellendus a.</p>
          <p>Lorem ipsum dolor sit amet, consectetur</p>
          <p>adipisicing elit. Facere ipsum inventore </p>
          <p>enim placeat rem corrupti voluptate iste neque repellendus a.</p>
        </div>
        <div class="border border-solid border-gray-300 rounded-lg p-3 mt-3">
          Third post
          <p>Lorem ipsum dolor sit amet, consectetur</p>
          <p>adipisicing elit. Facere ipsum inventore </p>
          <p>enim placeat rem corrupti voluptate iste neque repellendus a.</p>
          <p>Lorem ipsum dolor sit amet, consectetur</p>
          <p>adipisicing elit. Facere ipsum inventore </p>
          <p>enim placeat rem corrupti voluptate iste neque repellendus a.</p>
          <p>Lorem ipsum dolor sit amet, consectetur</p>
          <p>adipisicing elit. Facere ipsum inventore </p>
          <p>enim placeat rem corrupti voluptate iste neque repellendus a.</p>
        </div>
        <div class="border border-solid border-gray-300 rounded-lg p-3 mt-3">
          Fourth post
          <p>Lorem ipsum dolor sit amet, consectetur</p>
          <p>adipisicing elit. Facere ipsum inventore </p>
          <p>enim placeat rem corrupti voluptate iste neque repellendus a.</p>
          <p>Lorem ipsum dolor sit amet, consectetur</p>
          <p>adipisicing elit. Facere ipsum inventore </p>
          <p>enim placeat rem corrupti voluptate iste neque repellendus a.</p>
          <p>Lorem ipsum dolor sit amet, consectetur</p>
          <p>adipisicing elit. Facere ipsum inventore </p>
          <p>enim placeat rem corrupti voluptate iste neque repellendus a.</p>
        </div>
      </div>
      <div class="basis-1/5 ml-3 h-max sticky top-3">
        <div class="border border-solid border-gray-300 rounded-lg p-3">
          Friends
        </div>
        <div class="border border-solid border-gray-300 rounded-lg p-3 mt-3">
          Following
        </div>
      </div>
    </div>
  </div>
</ng-container>
