@import "src/app/shared/styles/variables";

.main-wrapper {
  display: grid;
  grid-template-areas:
    'nav header'
    'nav content';
  grid-template-columns: 0 auto;
  grid-template-rows: 50px auto;
  height: 100vh;
  &.main-wrapper--navigation-open {
    grid-template-columns: auto 1fr;
  }
  overflow: hidden;
}

.main-header {
  grid-area: header;
  border-bottom: 1px solid $df-border-color-01;
  display: flex;
  .sidebar-toggle {
    color: $df-text-grey-01;
    width: 40px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgb(219, 214, 225);
    cursor: pointer;
    transition: all 0.3s ease-out;
    &:hover {
      color: $df-text-grey-02;
    }
  }
}

.main-content {
  grid-area: content;
  padding: 1rem;
  overflow: auto;
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: $df-text-grey-02;
  }
  &::-webkit-scrollbar {
    width: 0;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
}

::ng-deep .main-navigation {
  .df-menu--mode-expandable:not(:hover) .input-search,
  .df-menu--mode-mini .input-search {
    display: none !important;
  }
}

.main-navigation {
  grid-area: nav;
  background: $df-base-01;
  .input-search {
    display: flex;
    margin: 10px;
    background-color: $df-base-02;
    align-items: center;
    border-radius: 4px;
    &.input-search--focus {
      background-color: $df-base-03;
    }
    input {
      padding: 10px;
      color: $df-text-white-01;
      font: inherit;
      background: rgba(0,0,0,0);
      border: none;
      outline: none;
      caret-color: $df-text-white-01;
    }
    i, input::placeholder {
      color: $df-text-white-01;
    }
    i {
      margin: 0 10px;
    }
  }
}
