<form [formGroup]="signUpForm" (ngSubmit)="submit()" class="sign-up-form">
  <tui-input
    formControlName="login"
    tuiHintContent="Min length 4"
    [tuiTextfieldCleaner]="true"
    [tuiTextfieldCustomContent]="username.valid ? success : ''"
    [tuiTextfieldLabelOutside]="true"
    class="tui-space_top-3">
    Username
  </tui-input>
  <tui-input-password
    formControlName="password"
    [tuiTextfieldCleaner]="true"
    [tuiTextfieldCustomContent]="password.valid ? success : ''"
    [tuiTextfieldLabelOutside]="true"
    class="tui-space_top-3">
    Password
  </tui-input-password>
  <tui-input
    formControlName="email"
    tuiHintContent="Min length 4, max 30"
    [tuiTextfieldCleaner]="true"
    [tuiTextfieldCustomContent]="email.valid ? success : ''"
    [tuiTextfieldLabelOutside]="true"
    class="tui-space_top-3">
    Email
  </tui-input>
  <tui-input
    formControlName="firstName"
    tuiHintContent="Min length 2, max 30"
    [tuiTextfieldCleaner]="true"
    [tuiTextfieldCustomContent]="firstName.valid ? success : ''"
    [tuiTextfieldLabelOutside]="true"
    class="tui-space_top-3">
    First name
  </tui-input>
  <tui-input
    formControlName="lastName"
    tuiHintContent="Min length 2, max 30"
    [tuiTextfieldCleaner]="true"
    [tuiTextfieldCustomContent]="lastName.valid ? success : ''"
    [tuiTextfieldLabelOutside]="true"
    class="tui-space_top-3">
    Last name
  </tui-input>
  <button
    tuiButton
    type="submit"
    appearance="primary"
    class="tui-space_right-3 tui-space_bottom-3 tui-space_top-3 sign-up-form-submit">
    Submit
  </button>
</form>
<ng-template #success>
  <tui-svg src="tuiIconCheckLarge" class="success tui-space_left-3"></tui-svg>
</ng-template>
