<dify-loader [loading]="loading$ | async"></dify-loader>
<div #participants class="participants">
  <app-call-participant
    *ngFor="let participantCard of participantCards$ | async"
    [participantCard]="participantCard">
  </app-call-participant>
</div>
<footer *ngIf="currentCard$ | async as currentCard" class="footer">
  <button
    type="button"
    tuiIconButton
    icon="tuiIconPhoneOff"
    appearance="accent"
    class="tui-space_right-3">
  </button>
  <button
    type="button"
    tuiIconButton
    icon="tuiIconMic"
    appearance="outline"
    class="tui-space_right-3">
  </button>
  <button
    type="button"
    tuiIconButton
    [icon]="currentCard.videoEnabled ? 'tuiIconVideo' : 'tuiIconVideoOff'"
    (click)="switchCamera(currentCard)"
    appearance="outline">
  </button>
</footer>
