<form [formGroup]="newCallForm" (ngSubmit)="submit()">
  <tui-input
    formControlName="callName"
    tuiHintContent="Specific name of your call">
    Name
  </tui-input>
  <app-form-control-validation [control]="nameField" caption="Name"></app-form-control-validation>
  <div class="mt-4">
    <df-multiselect-dropdown
      [itemTemplate]="dropdownItemTemplate" 
      [dropdownItems]="participantsList$" 
      formControlName="participants"
      (searchChanged)="searchParticipants($event)"
      placeholder="Call participants">
      <ng-template #dropdownItemTemplate let-item>
        <div 
          class="relative inline-block w-9"
          [ngClass]="{'participant-avatar': item.isOnline}">
          <img 
            *ngIf="item.avatarUrl"
            [src]="item.avatarUrl"
            class="rounded-full">
        </div>
        <span class="ml-1.5">{{ item.name }}</span>
      </ng-template>
    </df-multiselect-dropdown>
  </div>
  <div 
    class="text-rose-600 text-sm mt-1" 
    *ngIf="participantsField.errors && participantsField.touched
      && participantsField.dirty && participantsField.errors['required']">
    <p>Select at leat 1 participant for call</p>
  </div>
  <button
    tuiButton
    type="submit"
    appearance="primary"
    size="m"
    icon="tuiIconPhone"
    class="mt-3">
    Create
  </button>
  <button
    tuiButton
    type="reset"
    appearance="secondary"
    size="m"
    class="mt-3 ml-3"
    (click)="cancel()">
    Cancel
  </button>
</form>
<ng-template #participantsSelect let-data>
  <div class="flex items-center">
    <tui-avatar
      size="m"
      [ngClass]="{'participant-avatar': data.isOnline}"
      class="mr-2"
      [avatarUrl]="data.avatarUrl">
    </tui-avatar>
    {{ data.name }}
  </div>
</ng-template>
