$primary-stroke: #da2828;

.load-wrapper {  
    width: 100%;
    height: 100%;  
    position: fixed;  
    top: 0;
    left: 0;
    z-index: 99999; 
    display: flex;
    justify-content: center;
    align-items: center;
    .loader {
        width: 40px;
        height: 40px;
        .circular {
            animation: rotate 2s linear infinite;
            .path {
                stroke: $primary-stroke;
                stroke-linecap: round;
                animation: dash 1.5s ease-in-out infinite;
            }
        }
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
