<div class="flex flex-row m-3">
  <div class="basis-4/5">
    <header class="card flex justify-between items-center mb-3">
      <h2 class="calls-list-header-h2 tui-text_body-l-2">New call</h2>
      <div>
        <button
          class="mr-4"
          tuiButton
          type="button"
          appearance="primary"
          size="m"
          icon="tuiIconPhone"
          (click)="openNewCallDialog()">
          Create
        </button>
        <button
          tuiButton
          type="button"
          appearance="secondary"
          size="m"
          icon="tuiIconCalendar">
          Scedule
        </button>
      </div>
    </header>
    <router-outlet></router-outlet>
  </div>
  <div class="basis-2/6 flex flex-col card ml-3 h-max sticky top-3">
    <a
      routerLink="./"
      routerLinkActive="active-route"
      [routerLinkActiveOptions]="{ exact: true }" 
      class="section-btn mb-1">
      <div class="flex flex-row justify-between">
        <span>History</span>
        <i class="pi pi-spin pi-spinner"></i>
      </div>
    </a>
    <a
      routerLink="./call-friends"
      routerLinkActive="active-route" 
      class="section-btn mb-1.5"
      type="button">
      <div class="flex flex-row justify-between">
        <span>Call friends</span>
      </div>
    </a>
    <p-divider></p-divider>
    <a
      class="section-btn mt-1.5 mb-1"
      type="button">
      <div class="flex flex-row justify-between">
        <span>Active</span>
      </div>
    </a>
    <a
      class="section-btn mb-1.5"
      type="button">
      <div class="flex flex-row justify-between">
        <span>Missed</span>
      </div>
    </a>
    <p-divider></p-divider>
    <a
      class="section-btn mt-1.5"
      type="button">
      <div class="flex flex-row justify-between">
        <span>Sceduled</span>
      </div>
    </a>
  </div>
</div>