.section-btn {
  padding: theme('spacing.3') theme('spacing.3');
  border-radius: var(--border-radius);
  border: none;
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-color);
  transition: background-color .2s;
  text-decoration: none;
  &:hover {
    background-color: var(--surface-hover);
  }
  &.active-route {
    background-color: var(--surface-200);
  }
}
