<div class="card">
  <div class="flex flex-row">
    <button 
      class="flat-button mr-2 px-2 py-1"
      (click)="requestType = requestTypes.new"
      [ngClass]="{'active': requestType === requestTypes.new}">
      <span>New 1</span>
    </button>
    <button 
      class="flat-button mr-2 px-2 py-1"
      (click)="requestType = requestTypes.pending"
      [ngClass]="{'active': requestType === requestTypes.pending}">
      <span>Pending 5</span>
    </button>
    <button 
      class="flat-button px-2 py-1"
      (click)="requestType = requestTypes.outgoing"
      [ngClass]="{'active': requestType === requestTypes.outgoing}">
      <span>Outgoing 3</span>
    </button>
  </div>
  <div
    *ngFor="let friendRequest of friendRequests; last as isLast"
    [ngClass]="{ 'border-0 border-b border-solid border-surface-border': !isLast }"
    class="py-3">
    <app-friend-request-tile [friendRequestTile]="friendRequest">
      <div actions class="flex flex-row mt-3" [ngSwitch]="requestType">
        <ng-container *ngSwitchCase="requestTypes.new">
          <p-button 
            label="Accept"
            size="small"
            class="mr-2">
          </p-button>
          <p-button 
            label="Keep as follower"
            [outlined]="true"
            size="small">
          </p-button>
        </ng-container>
        <ng-container *ngSwitchCase="requestTypes.pending">
          <p-button 
            label="Accept"
            size="small"
            class="mr-2">
          </p-button>
          <p-button 
            label="Remove follower"
            [outlined]="true"
            size="small">
          </p-button>
        </ng-container>
        <ng-container *ngSwitchCase="requestTypes.outgoing">
          <p-button 
            label="Cancel request"
            size="small"
            severity="danger">
          </p-button>
        </ng-container>
      </div>
    </app-friend-request-tile>
  </div>
</div>
