@import 'src/app/shared/styles/variables';

.main-wrapper {
  display: grid;
  grid-template-areas:
    'nav header'
    'nav content';
  grid-template-columns: 0 auto;
  grid-template-rows: 50px auto;
  height: 100vh;
  &.main-wrapper--navigation-open {
    grid-template-columns: auto 1fr;
  }
  overflow: hidden;
}

.main-header {
  grid-area: header;
  border-bottom: 1px solid $df-border-color-01;
  display: flex;
  .sidebar-toggle {
    height: auto;
    border-right: 1px solid rgb(219, 214, 225);
    border-radius: 0;
  }
}

.main-content {
  font: var(--tui-font-text-m);
  grid-area: content;
  overflow: auto;
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: $df-text-grey-02;
  }
  &::-webkit-scrollbar {
    width: 0;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
}

::ng-deep .main-navigation {
  .df-menu--mode-expandable:not(:hover) .input-search,
  .df-menu--mode-mini .input-search {
    display: none !important;
  }
}

.main-navigation {
  grid-area: nav;
  background: linear-gradient(288deg, rgb(47, 25, 55) 35.57%, rgb(69, 38, 80) 92.42%, rgb(69, 38, 80) 92.42%);
  .input-search {
    width: 220px;
    tui-input {
      margin: 7px;
      border-radius: 4px;
    }
  }
}
