@import 'src/app/shared/styles/variables';

.main-wrapper {
  display: grid;
  grid-template-areas:
    'nav header'
    'nav content';
  grid-template-rows: 50px auto;
  grid-template-columns: auto 1fr;
  height: 100vh;
  overflow: hidden;
}

.main-header {
  grid-area: header;
  background-color: var(--surface-overlay);
  border-bottom: var(--df-border);
}

.main-content {
  grid-area: content;
  overflow: auto;
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: $df-text-grey-02;
  }
  &::-webkit-scrollbar {
    width: 0;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
}

.main-navigation {
  transition: var(--df-transition);
  grid-area: nav;
  width: 78px;
  background: var(--surface-overlay);
  border-right: var(--df-border);
  &.navigation-opened {
    width: 250px;
  }
}

.sidebar {
  position: relative;
  height: 100%;
  width: 78px;
  padding: 6px 14px;
  transition: var(--df-transition);
  &.open {
    width: 250px;
    li {
      .tooltip {
        display: none;
      }
      a {
        .links-name {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
  }
  .nav-list {
    margin-top: 20px;
    height: 100%;
  }
  li {
    position: relative;
    margin: 8px 0;
    list-style: none;
    .tooltip {
      position: absolute;
      top: -20px;
      left: calc(100% + 15px);
      z-index: 3;
      background: var(--primary-50);
      color: var(--gray-900);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
      padding: 6px 12px;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 400;
      opacity: 0;
      white-space: nowrap;
      pointer-events: none;
      @media (max-width: 420px) {
        display: none;
      }
    }
    &:hover .tooltip {
      opacity: 1;
      pointer-events: auto;
      top: 50%;
      transform: translateY(-50%);
    }
    a {
      display: flex;
      height: 100%;
      width: 100%;
      border-radius: 12px;
      align-items: center;
      text-decoration: none;
      color: var(--text-color);
      transition: var(--df-transition);
      &.active-item {
        background-color: var(--primary-color);
        i, .links-name {
          color: var(--primary-color-text);
        }
      }
      &:not(.active-item):hover {
        background-color: var(--highlight-bg);
        i, .links-name {
          color: var(--highlight-text-color);
        }
      }
      .links-name {
        font-size: 15px;
        font-weight: 400;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
      }
      i {
        text-align: center;
        min-width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 17px;
        border-radius: 12px;
      }
    }
  }
}

.toggle-menu-button {
  transform: translateX(50%) translateY(-50%);
  &-rotate {
    transform: translateX(50%) translateY(-50%) rotate(180deg);
  }
}
