<div class="main-wrapper" [ngClass]="{ 'main-wrapper--navigation-open': mainNavigationOpened }">
  <nav class="main-navigation">
    <df-sidebar-menu
      *ngIf="menu"
      [menu]="menu"
      [mode]="sidebarCollapsed ? sidebarModes.COLLAPSED : sidebarModes.EXPANDED"
      [search]="currentSearch"
      toggleIconClasses="tuiIconChevronLeft"
      iconClasses="tuiIconCircle">
      <div class="input-search">
        <tui-input
          tuiTextfieldSize="s"
          tuiTextfieldIcon="tuiIconSearch"
          [tuiTextfieldCleaner]="true"
          [(ngModel)]="currentSearch">
          Search...
          <input type="text" tuiTextfield/>
        </tui-input>
      </div>
    </df-sidebar-menu>
  </nav>
  <header class="main-header">
    <button
      tuiIconButton
      type="button"
      appearance="icon"
      [icon]="sidebarCollapsed ? 'tuiIconChevronRight' : 'tuiIconChevronLeft'"
      (click)="sidebarCollapsed = !sidebarCollapsed"
      class="sidebar-toggle"
      size="s">
    </button>
  </header>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
