<div class="main-wrapper">
  <aside 
    class="
      main-navigation 
      border-x 
      border-solid 
      border-gray-300 
      bg-slate-100"
      [class.navigation-opened]="difyFacade.sidebarOpened$ | async">
    <div class="sidebar" [class.open]="difyFacade.sidebarOpened$ | async">
      <ul class="nav-list">
        <li *ngFor="let item of menuItems">
          <a 
            [routerLink]="item.route" 
            [routerLinkActiveOptions]="{ exact: true }" 
            routerLinkActive="bg-green-100">
            <i class='bx' [ngClass]="'bx-' + item.icon"></i>
            <span class="links-name">{{ item.caption }}</span>
          </a>
          <span class="tooltip">{{ item.caption }}</span>
        </li>
      </ul>
      <div class="
        toggle-menu-button 
        absolute
        top-2/4 
        right-0 
        z-10
        bg-slate-300
        flex
        justify-center
        items-center
        rounded-full
        overflow-hidden
        w-7
        h-7"
        [class.toggle-menu-button-rotate]="difyFacade.sidebarOpened$ | async">
        <button 
          mat-icon-button 
          color="primary" 
          (click)="difyFacade.toggleSidebar()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </aside>
  <header class="main-header border-b border-solid border-gray-300">
  </header>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
