<div class="main-wrapper">
  <nav class="main-navigation border-x border-solid border-gray-300 bg-slate-100">
    <div class="sidebar">
      <ul class="nav-list">
        <li *ngFor="let item of menuItems">
          <a 
            [routerLink]="item.route" 
            [routerLinkActiveOptions]="{ exact: true }" 
            routerLinkActive="bg-green-100">
            <i class='bx' [ngClass]="'bx-' + item.icon"></i>
            <span class="links_name">{{ item.caption }}</span>
          </a>
          <span class="tooltip">{{ item.caption }}</span>
        </li>
      </ul>
      <div class="
        toggle-menu-button 
        absolute
        top-2/4 
        right-0 
        z-10
        bg-slate-300
        flex
        justify-center
        items-center
        rounded-full
        overflow-hidden
        w-7
        h-7"
        [class.toggle-menu-button-rotate]="sidebarOpened">
        <button 
          mat-icon-button 
          color="primary" 
          (click)="toogleMenu()">
          <mat-icon>chevron_left</mat-icon>
        </button>
      </div>
    </div>
  </nav>
  <header class="main-header border-b border-solid border-gray-300">
  </header>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
