@import "src/app/shared/styles/variables";

.calls-list {
  padding: 10px;
  &-header {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) auto;
    &-h1 {
      font-size: 1.4rem;
      margin: 0px;
    }
    .mat-flat-button {
      border-radius: 7px;
    }
    margin-bottom: 1em;
  }
  &-content {
    display: grid;
    border-radius: 10px;
    border: $df-border-01;
    overflow: hidden;
    margin-bottom: 7px;
    box-shadow: rgb(43 34 51 / 8%) 0px 1px 4px;
  }
  &-row {
    display: grid;
    align-items: center;
    justify-items: stretch;
    grid-template-columns: repeat(7, calc(100% / 7));
    padding: 10px;
    height: 70px;
  }
  &-row-header {
    background: #f3f3f7;
  }
  &-row-call {
    border-top: $df-border-01;
  }
  &-column {
    .mat-stroked-button {
      border-radius: 7px;
    }
    &-sorting{
      display: flex;
      align-items: center;
      .mat-icon {
        cursor: pointer;
      }
    }
    &-status {
      padding: 6px;
      border-radius: 6px;
      &.active {
        background-color: #22ac14;
        color: white;
      }
      &.ended {
        background-color: #a5a3a2d2;
        color: white;
      }
    }
  }
}
