<div class="calls-list">
  <header class="calls-list-header tui-space_bottom-2">
    <h2 class="calls-list-header-h2 tui-text_h5">Calls</h2>
    <button
      tuiButton
      type="button"
      appearance="primary"
      size="m"
      icon="tuiIconPhone"
      (click)="createNew()">
      New call
    </button>
  </header>
  <div class="calls-list-content">
    <div class="calls-list-row calls-list-row-header">
      <div class="calls-list-column">
        <label>Name</label>
      </div>
      <div class="calls-list-column calls-list-column-sorting">
        <label>Status</label>
        <button
          tuiIconButton
          type="button"
          appearance="icon"
          size="s"
          [icon]="(getSortIconByColumn(callColumns.active) | async) || 'tuiIconChevronDown'"
          (click)="columnSorting.next(callColumns.active)">
        </button>
      </div>
      <div class="calls-list-column">
        <label>Action</label>
      </div>
      <div class="calls-list-column">
        <label>Active participants</label>
      </div>
      <div class="calls-list-column calls-list-column-sorting">
        <label>Total participants</label>
        <button
          tuiIconButton
          type="button"
          appearance="icon"
          size="s"
          [icon]="(getSortIconByColumn(callColumns.totalParticipants) | async) || 'tuiIconChevronDown'"
          (click)="columnSorting.next(callColumns.totalParticipants)">
        </button>
      </div>
      <div class="calls-list-column calls-list-column-sorting">
        <label>Start date</label>
        <button
          tuiIconButton
          type="button"
          appearance="icon"
          size="s"
          [icon]="(getSortIconByColumn(callColumns.startDate) | async) || 'tuiIconChevronDown'"
          (click)="columnSorting.next(callColumns.startDate)">
        </button>
      </div>
      <div class="calls-list-column">
        <label>End date</label>
      </div>
    </div>
    <ng-container *ngFor="let call of callListFacade.callsList$ | async">
      <div class="calls-list-row calls-list-row-call">
        <div class="calls-list-column">
          <label>{{ call.name }}</label>
        </div>
        <div class="calls-list-column">
          <tui-tag
            size="l"
            [value]="getCallStatusTag(call)"
            status="custom"
            [ngClass]="call.active ? 'call-active-tag' : 'call-ended-tag'">
          </tui-tag>
        </div>
        <div class="calls-list-column">
          <button
            tuiButton
            type="button"
            appearance="flat"
            size="m"
            icon="tuiIconPhone"
            [disabled]="!call.active"
            (click)="joinCall(call.id)">
            Join
          </button>
        </div>
        <div class="calls-list-column">
          <label>
            {{ call.activeParticipants }}
          </label>
        </div>
        <div class="calls-list-column">
          <label>
            {{ call.totalParticipants }}
          </label>
        </div>
        <div class="calls-list-column">
          <label>
            {{ call.startDate | callDate: 'medium' }}
          </label>
        </div>
        <div class="calls-list-column">
          <label>
            {{ call.endDate | callDate: 'medium': 'Not ended' }}
          </label>
        </div>
      </div>
    </ng-container>
  </div>
  <tui-table-pagination
    [total]="callListFacade.totalCount$ | async"
    [size]="(callListFacade.listConfig$ | async).perPage"
    [items]="pageSizeOptions"
    (sizeChange)="callListFacade.setPerPage($event)"
    (pageChange)="callListFacade.setPage($event + 1)"
    class="tui-space_top-2">
  </tui-table-pagination>
</div>
