<div class="flex flex-row items-center">
  <app-friend-tile-avatar 
    [name]="friendRequestTile.name"
    [avatarUrl]="friendRequestTile.avatarUrl"
    [online]="friendRequestTile.online"
    class="mr-3">
  </app-friend-tile-avatar>
  <div class="py-3">
    <p-button 
      [routerLink]="'/home/profile/' + friendRequestTile.id"
      [label]="friendRequestTile.name" 
      [link]="true"
      size="small"
      styleClass="px-0 py-0 without-shadow">
    </p-button>
    <ng-content select="[actions]"></ng-content>
  </div>
</div>
