<div class="welcome-header">
  <h1 class="dify-header tui-text_h6" tuiLink routerLink="start">DiFY app</h1>
  <div class="action-buttons">
    <button
      tuiButton
      type="button"
      size="m"
      appearance="primary"
      routerLink="sign-in"
      class="tui-space_right-3">
      Login
    </button>
    <button
      tuiButton
      type="button"
      size="m"
      appearance="secondary"
      routerLink="sign-up">
      Sign up
    </button>
  </div>
</div>
<router-outlet></router-outlet>
