<div tabindex="0" (focus)="onFocus()" class="relative w-full mt-6">
  <div 
    [ngClass]="errorClasses" 
    class="df-input-component relative flex min-h-[4.85rem]"
    [attr.enabled]="!isDisabled">
    <span 
      [ngClass]="errorClasses" 
      class="
        placeholder-label p-1
        absolute -top-5 left-2 
        bg-inherit 
        df-border rounded-md">
      {{ placeholder }}
    </span>
    <div class="flex flex-wrap items-center grow gap-2.5 cursor-text">
      <div 
        *ngFor="let item of store.selectedItems$| async" 
        class="
          rounded-md 
          bg-surface-200
          p-2 h-14
          flex items-center
          cursor-pointer
          hover:bg-surface-100">
        <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: item }">
        </ng-container>
        <button 
          *ngIf="!isDisabled" 
          pButton type="button" 
          icon="pi pi-times" 
          class="
            p-button-text p-button-rounded 
            h-8 w-8 ml-2" 
          (click)="removeSelected(item)"[disabled]="isDisabled">
        </button>
      </div>
      <div *ngIf="!isDisabled" class="grow max-w-full h-14 p-2">
        <input 
          #searchInput 
          type="text" 
          (focus)="onInputFocus()"
          (input)="onSearch($event)"
          class="
            search-input 
            outline-none
            border-none
            w-6 max-w-full h-full p-0
            bg-inherit
            text-inherit
            font-inherit" 
          [formControl]="searchControl">
      </div>
    </div>
    <div class="flex pt-3">
      <button 
        *ngIf="(store.selectedItemsCount$ | async) >= 1 && !isDisabled" 
        pButton type="button" 
        icon="pi pi-times" 
        class="p-button-text p-button-rounded h-8 w-8 mr-1" 
        (click)="removeAll()" [disabled]="isDisabled">
      </button>
      <button 
        *ngIf="!isDisabled" pButton type="button" 
        icon="pi pi-chevron-down" 
        class="
          p-button-text
          p-button-rounded
          h-8 w-8
          transition duration-300 transform" 
        (click)="toggleSelection()" [disabled]="isDisabled"
        [class.rotate-180]="(store.selectionOpened$ | async)">
      </button>
    </div>
  </div>
  <div *ngIf="store.selectionOpened$ | async" class="absolute w-full mt-1">
    <div 
      *ngIf="(store.selectionItemsCount$ | async) >= 1; else noData"
      class="
        selection-items 
        overflow-y-auto 
        bg-surface-card 
        df-border rounded-md
        max-h-72">
      <ul>
        <li 
          *ngFor="let item of store.itemsSelection$ | async"
          class="
            p-2 h-14
            flex items-center
            cursor-pointer
            hover:bg-surface-hover"
          (click)="selectItem(item)">
          <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: item }">
          </ng-container>
        </li>
      </ul>
    </div>
    <ng-template #noData>
      <div class="
        df-border rounded-md border-surface-border 
        bg-surface-card
        flex items-center
        p-2.5 
        h-14">
        No data
      </div>
    </ng-template>
  </div>
</div>
