.selection-items {
  &::-webkit-scrollbar-thumb {
    border-radius: theme('borderRadius.md');
    background-color: var(--surface-border);
  }
  &::-webkit-scrollbar {
    width: theme('spacing.1');
  }
}

.df-input-component {
  &[enabled="true"] {
    &:hover .placeholder-label {
      transition: var(--df-transition);
      border-color: var(--primary-color);
    }
    &:focus-within .placeholder-label {
      box-shadow: theme('boxShadow.df-input-shadow');
      border-color: var(--primary-color);
    }
  }
}
