<div class="flex flex-row justify-between items-center">
  <ng-content select="[leftHeaderContent]"></ng-content>
  <ng-content select="[rightHeaderContent]"></ng-content>
</div>
<div class="flex flex-row justify-between mt-3">
  <div class="p-input-icon-right grow">
    <i 
      *ngIf="friendsSearch && !searchLoading" 
      class="pi pi-times hover:cursor-pointer"
      (click)="clearSearch()">
    </i>
    <i *ngIf="searchLoading" class="pi pi-spin pi-spinner"></i>
    <input 
      type="text" 
      pInputText 
      [(ngModel)]="friendsSearch" 
      placeholder="Search friends"
      class="w-full"/>
  </div>
  <div class="flex flex-row">
    <p-button
      (onClick)="parametersClicked($event)"
      [outlined]="true"
      class="ml-2">
      <div class="flex flex-row items-center">
        <span>Parameters</span>
        <i class="pi pi-angle-down ml-1" [class.rotate-180]="searchParamsOpened"></i>
      </div>
    </p-button>
  </div>
</div>
<div
  *ngFor="let friendTile of friendTiles; last as isLast"
  [ngClass]="{ 'border-b border-solid border-surface-border': !isLast }">
  <app-friend-tile [friendTile]="friendTile"></app-friend-tile>
</div>
<p-overlayPanel #searchParams (onHide)="searchParamsOpened = false">
  <ng-template pTemplate="content">
    <div class="h-96 w-96">Advanced filters here</div>
  </ng-template>
</p-overlayPanel>