* {
  box-sizing: border-box;
}

.success-snackbar {
  background: rgb(65, 252, 134);
  color: white;
  button {
    background-color: rgb(65, 252, 134);
    color: white;
    border: none;
  }
}

.error-snackbar {
  background: #f44336;
  color: white;
  button {
    background-color: #f44336;
    color: white !important;
    border: none;
  }
}
