<p>call works!</p>
<p>{{(callFacade.call$ | async).name}}</p>
<button (click)="logConnectedStreams()">Connected streams</button>
<button (click)="logPeerConnections()">Peer connections</button>
<button (click)="logCurrentStream()">Current stream</button>
<button (click)="videoEnabled.next()">Switch camera</button>
<video #currentVideo autoplay="autoplay"></video>

<app-call-participant
  *ngFor="let participantCard of participantCards$ | async"
  [callParticipant]="participantCard">
</app-call-participant>

