<form [formGroup]="newCallForm" (ngSubmit)="submit()">
  <div class="tui-form__row">
    <tui-input
      formControlName="callName"
      tuiHintContent="Specific name of your call">
        Name
      <span class="tui-required"></span>
    </tui-input>
    <tui-error
      formControlName="callName"
      [error]="[] | tuiFieldError | async">
    </tui-error>
  </div>
  <button
    tuiButton
    type="submit"
    appearance="secondary"
    size="m"
    icon="tuiIconPhone"
    class="tui-space_top-3">
    Create
  </button>
</form>
