<div class="flex flex-row w-full">
  <p-button 
    size="small"
    [outlined]="true"
    class="grow"
    styleClass="w-full"
    routerLink="../friends"
    (click)="myFriendsClicked()">
    <div class="flex flex-row items-center">
      <span>My friends</span>
      <i class="pi pi-angle-down ml-1" [class.rotate-180]="categoryDropdownOpened"></i>
    </div>
  </p-button>
  <p-button size="small" styleClass="ml-1" icon="pi pi-calendar" [outlined]="true"></p-button>
</div>
<ng-container *ngIf="categoryDropdownOpened && friendCategories" >
  <ng-container *ngFor="let category of friendCategories">
    <p-button
      size="small"
      [outlined]="true"
      styleClass="w-full mt-0.5 p-1.5"
      (click)="categoryFilter.emit(category)"
      severity="secondary">
      <span class="text-left ml-5">
        {{ category.name }}
      </span>
    </p-button>
  </ng-container>
  <p-button
    size="small"
    [outlined]="true"
    styleClass="w-full mt-0.5 p-1.5"
    severity="success">
    <div class="flex items-center ml-5">
      <i class="pi pi-plus mr-1"></i>
      <span>Create new category</span>
    </div>
  </p-button>
</ng-container>
<p-button
  size="small"
  [outlined]="true"
  styleClass="w-full mt-1"
  routerLink="requests"
  (click)="sectionFiltration.emit(sections.friendRequest)"
  badge="5"
  badgeClass="new-friends-bagde">
  <span class="w-full text-left">
    Friendship requests
  </span>
</p-button>
<p-button
  size="small"
  [outlined]="true"
  styleClass="w-full mt-1"
  routerLink="find"
  (click)="sectionFiltration.emit(sections.findFriends)">
  <span class="text-left">
    Find friends
  </span>
</p-button>
